

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
    <div>
        <header>
            <span>THIS IS DEMO PWA</span>
        </header>
        <main>
            <section id="inicio">
                <h1>Bienvenido a Nuestra Página</h1>
                <p>Esta es la página de inicio de nuestra web.</p>
            </section>
          
        </main>
        <footer>
          <nav>
              <ul>
                  <li><a href="#inicio">Home</a></li>
                  <li><a href="#sobre-nosotros">About</a></li>
                  <li><a href="#contacto">Contact</a></li>
              </ul>
          </nav>
        
      </footer>
    </div>